[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
asynctest = "==0.12.0"
freezegun = "==0.3.10"
mypy = "==0.630"
black = "==18.9b0"
ipdb = "==0.11"
aiofiles = "==0.4.0"

[requires]
python_version = "3.6"

[scripts]
test = "py.test -v --cov=./aiologger --cov-report term-missing -v"
lint = "mypy ./ --ignore-missing-imports"
fmt = "black --py36 -v --line-length 80 ."
fmt-check = "black --py36 -v --line-length 80 --check ."
