[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
asynctest = "==0.13.0"
freezegun = "==0.3.10"
mypy = "==0.711"
black = "==18.9b0"
aiofiles = "==0.8.0"
uvloop = "==0.16.0"
sphinx = "==4.5.0"
sphinxcontrib-asyncio = "==0.3.0"
recommonmark = "==0.5.0"
orjson = "==3.7.2"

[requires]
python_version = "3"

[scripts]
test = "py.test -v --cov=./aiologger --cov-report=term-missing -v --cov-report=xml"
lint = "mypy ./ --ignore-missing-imports"
fmt = "black --py36 -v --line-length 80 ."
fmt-check = "black --py36 -v --line-length 80 --check ."
make-docs = "make -C docs-src html"
