name: main

on:
  push:
    branches:
      - main

jobs:
  tests:
    name: unittests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [3.6, 3.7, 3.8, 3.9, 3.x]
    steps:
      - name: install libxml2-dev
        run: sudo apt-get install libxml2-dev libxslt-dev
      - name: checkout
        uses: actions/checkout@v2

      - name: Install python ${{matrix.python}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python}}

      - name: Install pip/pipenv
        run: pip install -U pip==20.2.3 pipenv==2020.8.13

      - name: pipenv install --dev
        run: pipenv install --system --deploy --ignore-pipfile --dev

      - name: pipenv run test
        run: pipenv run all-tests

      - name: Coverage upload
        if: ${{matrix.python == '3.8'}}
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
      - name: Coverage Skipped
        if: ${{matrix.python != '3.8'}}
        run: echo "Coverage uploaded only on python 3.8 run"

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Install python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install pip/pipenv
        run: pip install -U pip==20.2.3 pipenv==2020.8.13

      - name: pipenv install --dev
        run: pipenv install --system --deploy --ignore-pipfile --dev

      - name: pipenv run lint
        run: pipenv run lint

      - name: pipenv run fmt-check
        run: pipenv run fmt-check
